
/* Home Page CSS */

body {
  position: relative;
  top: 0px;
  left: 0px;
  right: 0px;
  background-color: #FFFFFF;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

nav {
  display: flex;
  flex-direction: row;
  position: absolute;
  width: 100%;
  height: 75px;
  background-color: #6D6875;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
}

.herworld {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  color: #F8F4E3;
  padding-left: 50px;
  padding-right: 250px;
  text-decoration: none;
}

a, a:visited, a:hover, a:active {
  color: #F8F4E3;
  text-decoration: none;
}

.buttons {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.click {
  width: 200px;
  padding-left: 40px;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #F8F4E3;
  background-color: #6D6875;
  border: 0px solid #6D6875;
}

.bolded-font {
  font-weight: bolder;
}
.regular-font {
  font-weight: regular;
}

.mission-box {
  font-family: 'Montserrat';
  position: relative;
  width: 600px;
  height: 300px;
  left: 40px;
  top: 168px;
  background: #D9B3BA;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  text-align: center;
  margin-left: -10px;
}

.mission-statement {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: bold;
  font-size: 37px;
  text-align: center;
  color: #13070C;
}

.mission-text {
  margin-top: -25px;
  line-height: 30px;
  padding-left: 25px;
  padding-right: 25px;
}

.slideshow {
  position: absolute;
  object-fit: cover;
  width: 525px;
  height: 200px;
  margin-right: 80px;
  left: 750px;
  top: 240px;
  /* background: #D6E5E3; */
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
 }

.dots {
  display: flex;
  justify-content: space-around;
  z-index: 100;
  width: 600px;
  height: 125px;
  align-items: center;
  padding-top: 25px;
  margin-left: 20px;
}

.dot {
  z-index: 100;
  height: 100px;
  width: 100px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  object-fit: cover;
}

h3 {
  font-family: 'Montserrat';
  font-weight: 40;
  display: inline;
}

.test {
  height: 125px;
  margin-top: 205px;
  margin-left: 40px;
  width: 600px;
}

img {
  border-radius: circular;
}

.resources {
  width: 475px;
  height: 300px;
  margin-left: 775px;
  margin-right: 10px;
  margin-top: -205px;
  left: 923px;
  font-family: 'Montserrat';
  background: #D9B3BA;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 12px; 
  margin-bottom: 80px;
  text-align: center;
  padding: 10px;
}

.girls-who-code {
  object-fit: cover;
  height: 100px;
  width: auto;
}

.built-by-girls {
  object-fit: cover;
  height: 100px;
  width: auto;
}

.resource-gwc {
  display: flex; 
  justify-content: flex-start;
  
}

.resource-bbg {
  display: flex;
  justify-content: flex-end;
}

.extra {
  font-family: 'Montserrat';
  position: relative;
  width: 600px;
  height: 204px;
  left: 40px;
  margin-top: 95px;
  background: #FFFFFF;
  border: 3px solid #D6E5E3;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  text-align: center;
}

.current{
  font-style: bold;
}

.txt-dot {
  text-align: center;
  font-family: 'Montserrat';
  font-size: 12px;
}

footer {
  position: absolute;
  background: #6D6875;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  text-align: center;
  width: 100%;
  margin-bottom: 0px;
}

body.industry footer {
  top: 1500px;
}
body.game footer {
  top: 1200px;
}
body.general-footer footer {
  top: 1100px;
}

h5 {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  color: #F8F4E3;
  text-decoration: none;
}


 /*  GENERAL PAGE CSS */

 .general {
  position: absolute;
  width: 498px;
  height: 900px;
  left: 23px;
  top: 186px;
  background: #D6E5E3;
  border-radius: 41px;
  margin-bottom: 100px;
 }

.general-facts {
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 45px;
  font-family: 'Montserrat';
  color: #6D6875;
  font-size: 22px;

}
.women-workforce .info-title {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: normal;
  font-size: 60px;
  line-height: 72px;
  text-align: center;
  color: #D9B3BA;
  flex: 1 0 100%;
  margin: 0 0 100px 0;
}

.women-workforce {
  position: absolute;
  top: 110px;
  left: 600px;
  display: flex;
  right: 40px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.industry-dots {
  display: flex;
  flex-direction: column;
  flex: 0 0 150px;
}

.icon {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.entertainment-icon {
  font-family: 'Montserrat';
  text-align: center;
  padding: 20px;
}

.stem-icon {
  font-family: 'Montserrat';
  text-align: center;
}

.working-women {
  height: 700px;
  margin-top: 50px;
}

/* INDUSTRY CSS */
.title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 50;
  font-family: 'Playfair Display';
  height: 71px;
  text-align: center;
  background: #D9B3BA;
  margin-top: 100px;
  margin-left: 400px;
  margin-right: 400px;
  margin-bottom: 50px;
}

.industry-stats {
  margin: 5px;
  display: flex;
  flex-direction: row;
}

.general-industry-stats {
  width: 40%;
  margin: 5%;
  display: flex;
  flex-direction: column;
  background: #D6E5E3;
  text-align: center;
  font-family: 'Montserrat';
  padding: 15px;
  line-height: 18px;
  font-size: 15px;
}

.minority-industry-stats {
  /* display: block;
  margin-left: -250px;
  margin-right: 0px;
  position: absolute;
  width: 600px;
  height: 400px;
  left: 1070px;
  top: 240px; */
  display: flex;
  flex-direction: column;
  background: #D9B3BA;
  text-align: center;
  font-family: 'Montserrat';
  line-height: 20px;
  padding: 15px;
  width: 40%;
  margin: 5%;
}
.first-hand {
  font-family: 'Montserrat';
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  /* border: 2px red solid; */
  width: 40%;
  margin: 5%;
  text-align: center;
}

.pics-contain{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.img-pic{
  display:flex;
  flex-direction: column;
  margin: 5%;
}

.combined-pics{
  display:flex;
  flex-direction: row;
}

.first-hand-title{
  font-size: 20px;
  align-items: flex-start;
  text-align: center;
}

.first-text{
  text-align: center;
  font-size: 12px;
}

.first-hand-dot{
  align-items: center;
}

.women-dot {
  z-index: 100;
  height: 200px;
  width: 200px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  object-fit: cover; 
  opacity: 1;
  transition: .5s ease;
  backface-visibility: hidden;
  position: relative;
}

/* MINI GAME CSS */
.question{
	font-weight: 600;
}
.answers {
  margin-bottom: 20px;
}
.answers label{
  display: block;
}
#submit{
	font-family: 'Montserrat';
	font-size: 20px;
	background-color:  #D6E5E3;
	color: #fff;
	border: 0px;
	border-radius: 3px;
	padding: 20px;
	cursor: pointer;
	margin-bottom: 20px;
}
#submit:hover{
	background-color: #5a8c85;
}

.game1{
  background-color: #D9B3BA;
  width: 600px;
  height: 800px;
  font-family: 'Montserrat';
  font-style: normal;
  text-align: center;
  color: #13070C;
  position: relative;
  margin-top: 150px;
  margin-left: 40px;
}

button{
  font-family: 'Montserrat';
  background-color: #D6E5E3;
	color: #fff;
	border: 0px;
	border-radius: 3px;
  cursor: pointer; 
}

.content {
  margin: 10px auto;
  width: 400px;
}

.user-input {
  display: flex;
  flex-direction: column;
  margin-top: 150px;
  height: 300px;
  background: #6D6875;
}

.name {
  width: 300px;
  margin: 25px auto 5px auto;
  padding: 5px;
  font-size: 90%;
}

.submit-btn {
  width: 300px;
  padding: 5px;
  margin: 5px auto 25px auto;
  background: #D6E5E3;
  border: none;
  border-radius: 2px;
  color: #fff;
  font-size: 100%;
}

.card-container {
  padding: 30px;
  background: #6D6875;
}

.name-card {
  margin: 0 auto;
  margin-bottom: 10px;
  padding: 8px;
  width: 300px;
  background: #fff;
}

.combined{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.comments{
  background-color: #D6E5E3;
  height: auto;
  width: 500px;
  position: absolute;
  margin-top: 150px;
  margin-right: 40px;
  /* display: block; */
} 

.funMessage {
  padding-left: 25px;
  padding-right: 25px;
  font-family: 'Montserrat';
}

.game-page{
  display: flex;
}

.mySlides{
  display: flex;
}



/* Hover Image */

.image{
  opacity: 1;
  transition: .5s ease;
  backface-visibility: hidden;
  cursor: pointer;
}

.img-pic:hover .image {
  opacity: 0.3;
}

.img-pic:hover .middle {
  opacity: 1;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.text {
  font-family: 'Montserrat';
  background-color: #6D6875;
  color: white;
  font-size: 12px;
  padding: 10px 10px;
  position: absolute;
  margin-top: -150px;
}
